.configurations-panel {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  text-align: left;
}

.configs {
  display: block;
  margin: 0 0 15px;
  padding: 20px;
  border: 1px solid $highlight-color;
  transition: 150ms all ease-out;

  &:hover {
    box-shadow: 0 0 5px 1px lighten($highlight-color, 10);
    // box-shadow: 0 0 5px 1px #fbc31f;
  }

  legend {
    display: block;
    padding: 0 15px;
    font-size: 14px;
    color: $highlight-color;
    background: $main-color;
  }
}

.field {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  font-size: 16px;
  color: #f1f1f1;
  position: relative;

  label {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    color: $muted-color;
  }

  input[type="tel"] {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 50px;
    font-size: 18px;
    text-align: center;
  }

  input[type="color"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 50px;
    opacity: 0;
  }

  input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    margin-left: 18px;
  }

  .color-placeholder {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 50%;
  }
}

.btn-generate {
  display: block;
  margin: 30px auto 0;
  padding: 8px;
  background: $main-color;
  border: 1px solid $button-color;
  border-radius: 50px;
  width: 170px;
  font-size: 14px;
  font-weight: bold;
  color: $muted-color;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: 300ms all ease;

  &:hover {
    background: $button-color;
    color: $main-color;
  }
}
