[v-cloak] {display: none}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  min-width: 1000px;
  min-height: 600px;
  margin: 40px 0;
  padding: 0;
  text-align: center;
  background-color: $bg-color;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23ffc31f' fill-opacity='0.3' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

.app-holder {
  display: block;
  margin: 0 auto;
  width: 1000px;
  min-height: 600px;
  padding: 20px 40px 40px;
  text-align: left;
  background: $main-color;
  border-radius: 20px;
  box-shadow: 0 -5px 25px 1px darken($main-color, 10);
  z-index: 1;
}

.page-title {
  display: block;
  width: 550px;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 38px;
  color: $highlight-color;
  border-bottom: 1px solid $highlight-color;
}

